**/Binaries/
**/Build/
**/DerivedDataCache/
**/Intermediate/
**/Saved/
03_BuildingEscape/BuildingEscape/Content/StarterContent/HDRI
03_BuildingEscape/BuildingEscape/Content/StarterContent/Textures
**VC.db
03_BuildingEscape/BuildingEscape/.vs/
